@import "@variable";

.step2 {
  .subtitle{
    font-size: 22px;
    text-align: center;
    margin: 100px 0 30px;
    @include mq{
      margin: 50px 0 30px;
    }
    font-weight: bold;
    span{
      color: #D0DF00;
    }
    @include mq() {
      font-size: 18px;
    }
  }
  .slide {
    p {
      font-size: 14px;
      @include mq() {
        font-size: 10px;
        word-break: keep-all;
      }
    }
  }

}