@import "@variable";
.videoSwiper{
  .swiper-slide{
    width: 237px;
    text-align: center;
    margin: 0 7px;
    font-size: 14px;
    p{
      margin-bottom: 10px;
    }
    @include mq(){
      width: 120px;
      font-size: 10px;
      margin: 0 10px;
    }


    img.pc{
      display: block;
      @include mq(){
        display: none;
      }
    }
    img.sp{
      display: none;
      @include mq(){
        display: block;
      }
    }
  }
}

.commentSwiper{
  .swiper-slide{
    position: relative;
    z-index: 1;
    width: 250px;
    height: 100px;
    margin: 2px;
    display: flex;
    align-items: center;
    transition: 0.3s;
  }

  .swiper-slide-active{
    z-index: 2;
    transform: scale(1.2);
  }
}