@import "@variable";
.videoSwiper{
  .swiper-slide{
    width: 237px;
    text-align: center;
    margin: 0 7px;
    font-size: 14px;
    p{
      margin-bottom: 10px;
    }
    @include mq(){
      width: 120px;
      font-size: 10px;
      margin: 0 10px;
    }


    img.pc{
      display: block;
      @include mq(){
        display: none;
      }
    }
    img.sp{
      display: none;
      @include mq(){
        display: block;
      }
    }
  }
}