@import "@variable";

.step3 {
  padding: 0 16px;

  .subtitle{
    font-size: 22px;
    text-align: center;
    margin: 100px 0 30px;
    font-weight: bold;
    span{
      color: #D0DF00;
    }
    @include mq() {
      font-size: 18px;
    }
  }

  .question{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    background-color: #272622;
    border-radius: 3px;
    margin: 0 auto 10px;
    max-width: 700px;
    img{
      width: 16px;
      margin-left: 10px;
    }
  }
}