@import "@variable";

.step3 {
  padding: 0 16px;

  .subtitle{
    font-size: 22px;
    text-align: center;
    margin: 100px 0 30px;
    @include mq{
      margin: 50px 0 30px;
    }
    font-weight: bold;
    span{
      color: #D0DF00;
    }
    @include mq() {
      font-size: 18px;
    }
  }

  .accordion {
    max-width: 700px;
    padding: 7px 0;
    margin: 0 auto 10px !important;
    border-radius: 3px;
    color: #FFFFFF;
    background-color: #272622;
    .accordionSummary {
      padding: 0px 12px 0px 20px;
      p {
        font-size: 14px;
      }
    }
    .accordionDetails {
      background: #31312A;
      padding: 16px;
      margin: 0px 16px 8px 16px;
      p {
        font-size: 14px;
      }
    }
    .expandMoreIcon {
      fill: #FFFFFF;
      width: 32px;
      height: 32px;
    }
  }
}