.step1 {
  background-image: linear-gradient(#14141433 30%, #141414 80%), url(/images/bg.jpeg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 150px;

  .logo{
    max-width: 500px;
    width: 100%;
    margin: auto;
  }

  .title{
    font-size: 32px;
    margin: 32px 0 20px;
    span{
      color: #D0DF00;
    }
  }

  .subtitle{
    font-size: 22px;
    margin: 35px 0 10px;
  }

  .txt {
    color: #DCDCDC;
    font-size: 14px;
    line-height: 23px;
  }

  .boxes{
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-top: 20px;
    .box{
      background-color: #3F3F3F;
      align-items: center;
      display: flex;
      width: 220px;
      height: 234px;
      span{
        color: #D0DF00;
      }
      .big{
        font-size: 62px;
      }
      p{
        width: 100%;
        font-size: 32px;
        font-weight: bold;
      }
    }
  }
  
  .btns{
    display: flex; 
    gap: 10px;
    justify-content: center;
    margin-top: 40px;
    .containedBtn{
      color: black;
      background-color: #D0DF00;
      border: 1px solid #D0DF00;
      width: 220px;
    }
    .outlinedBtn{
      color: #D0DF00;
      border: 1px solid #D0DF00;
      width: 220px;
    }

  }

}